In [1]:
#Import necessary libraries 
import pandas as pd
from sklearn.impute import KNNImputer
import numpy as np

In [2]:
# Load dataset into Pandas DataFrame
test_df = pd.read_csv('test_df.csv')

In [3]:
print(test_df)

       Unnamed: 0     ...1  income.0.0  days_per_week_walk.0.0  diabetes..0.0  \
0               1  1000021         3.0                       0              0
1               2  1000057         4.0                       7              0
2               3  1000082         2.0                       7              0
3               4  1000126         4.0                       7              0
4               5  1000325         5.0                       7              0
...           ...      ...         ...                     ...            ...
53182       53183  6024672         2.0                       2              0
53183       53184  6024732         1.0                       6              0
53184       53185  6024803         1.0                      -1              0
53185       53186  6024842        -1.0                       3              0
53186       53187  6024923         NaN                       7              0

       smoke_status.0.0  bmi.0.0  Age_recr.0.0  total_cholesterol.0.0  \
0                     1  29.5254          62.0                    NaN
1                     1  27.6852          65.0                    NaN
2                     0  21.9651          51.0                    NaN
3                     1  29.4204          47.0                    NaN
4                     2  22.8234          54.0                    NaN
...                 ...      ...           ...                    ...
53182                 0  31.6564          41.0                 4.3624
53183                 1  20.5241          62.0                 4.1621
53184                 1  39.9202          65.0                    NaN
53185                 0  23.9069          64.0                 4.5286
53186                 1      NaN           NaN                    NaN

       vldl_cholesterol.0.0  ...  c_reactive_protein.0.0  HbA1c.0.0  \
0                       NaN  ...                   10.26       31.9
1                       NaN  ...                    1.36       33.7
2                       NaN  ...                    1.29        NaN
3                       NaN  ...                    1.35       34.6
4                       NaN  ...                    0.66       34.7
...                     ...  ...                     ...        ...
53182               0.68084  ...                    1.56       30.6
53183               0.68544  ...                    1.52       34.4
53184                   NaN  ...                    1.53       36.0
53185               1.01370  ...                    2.75        NaN
53186                   NaN  ...                     NaN        NaN

       insulin_IGF_1.0.0  lipoprotein.0.0  phosphate.0.0  SHBG.0.0  \
0                 19.320            29.60          1.051     58.09
1                 21.199             5.20          1.276     31.64
2                 22.495            14.00          1.192     45.49
3                 23.939           127.80          0.894     29.29
4                 20.172             8.92          1.194     74.53
...                  ...              ...            ...       ...
53182             28.218           162.60          1.234     32.01
53183             28.499            46.80          1.185     51.56
53184             19.050            43.20          1.030     53.27
53185             27.754            35.10          1.419       NaN
53186                NaN              NaN            NaN       NaN

       total_bilirubin.0.0  testosterone.0.0  triglycerides.0.0  \
0                    12.87            13.897              2.385
1                    15.70            13.759              5.016
2                     6.87            22.116              1.311
3                    14.37            12.327              0.742
4                     5.73            17.579              1.254
...                    ...               ...                ...
53182                 9.02            10.964              1.050
53183                 4.09            10.314              1.394
53184                 6.29            19.647              0.941
53185                15.39            12.595              5.278
53186                  NaN               NaN                NaN

       alcohol_consumption.0.0
0                          NaN
1                          NaN
2                          0.0
3                          NaN
4                          1.0
...                        ...
53182                      NaN
53183                      NaN
53184                      NaN
53185                      NaN
53186                      NaN

[53187 rows x 23 columns]

In [4]:
test_df = test_df.rename(columns={'...1': 'eid'})

In [5]:
# Get the length of the eid column
len(test_df['eid'])

53187

In [6]:
# Get the number of unique values in the eid column
len(test_df['eid'].unique())

53187

In [7]:
# Check if any columns have values less than 0
if (test_df < 0).any().any():
    print('At least one column has values less than 0')
else:
    print('No columns have values less than 0')

At least one column has values less than 0

In [9]:
# Check which columns have values less than 0
cols_with_negative_values = test_df.columns[(test_df < 0).any()]

# Print the column names
print('Columns with negative values:', list(cols_with_negative_values))

Columns with negative values: ['income.0.0', 'days_per_week_walk.0.0', 'smoke_status.0.0']

In [11]:
test_df['income.0.0'][test_df['income.0.0'] < 0] = np.nan
test_df['days_per_week_walk.0.0'][test_df['days_per_week_walk.0.0'] < 0] = np.nan
test_df['smoke_status.0.0'][test_df['smoke_status.0.0'] < 0] = np.nan

/var/tmp/pbs.7385817.pbs/ipykernel_828593/2138215030.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['income.0.0'][test_df['income.0.0'] < 0] = np.nan
/var/tmp/pbs.7385817.pbs/ipykernel_828593/2138215030.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['days_per_week_walk.0.0'][test_df['days_per_week_walk.0.0'] < 0] = np.nan
/var/tmp/pbs.7385817.pbs/ipykernel_828593/2138215030.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['smoke_status.0.0'][test_df['smoke_status.0.0'] < 0] = np.nan

In [12]:
# get all the column names 
col_names = test_df.columns

print(col_names)

Index(['Unnamed: 0', 'eid', 'income.0.0', 'days_per_week_walk.0.0',
       'diabetes..0.0', 'smoke_status.0.0', 'bmi.0.0', 'Age_recr.0.0',
       'total_cholesterol.0.0', 'vldl_cholesterol.0.0', 'ldl_cholesterol.0.0',
       'hdl_cholesterol.0.0', 'glucose.0.0', 'c_reactive_protein.0.0',
       'HbA1c.0.0', 'insulin_IGF_1.0.0', 'lipoprotein.0.0', 'phosphate.0.0',
       'SHBG.0.0', 'total_bilirubin.0.0', 'testosterone.0.0',
       'triglycerides.0.0', 'alcohol_consumption.0.0'],
      dtype='object')

In [13]:
subset_test_df = test_df[[ 'income.0.0', 'days_per_week_walk.0.0',
       'diabetes..0.0', 'smoke_status.0.0', 'bmi.0.0', 'Age_recr.0.0',
       'total_cholesterol.0.0', 'vldl_cholesterol.0.0', 'ldl_cholesterol.0.0',
       'hdl_cholesterol.0.0', 'glucose.0.0', 'c_reactive_protein.0.0',
       'HbA1c.0.0', 'insulin_IGF_1.0.0', 'lipoprotein.0.0', 'phosphate.0.0',
       'SHBG.0.0', 'total_bilirubin.0.0', 'testosterone.0.0',
       'triglycerides.0.0', 'alcohol_consumption.0.0']]

In [14]:
print(subset_test_df)

       income.0.0  days_per_week_walk.0.0  diabetes..0.0  smoke_status.0.0  \
0             3.0                     0.0              0               1.0
1             4.0                     7.0              0               1.0
2             2.0                     7.0              0               0.0
3             4.0                     7.0              0               1.0
4             5.0                     7.0              0               2.0
...           ...                     ...            ...               ...
53182         2.0                     2.0              0               0.0
53183         1.0                     6.0              0               1.0
53184         1.0                     NaN              0               1.0
53185         NaN                     3.0              0               0.0
53186         NaN                     7.0              0               1.0

       bmi.0.0  Age_recr.0.0  total_cholesterol.0.0  vldl_cholesterol.0.0  \
0      29.5254          62.0                    NaN                   NaN
1      27.6852          65.0                    NaN                   NaN
2      21.9651          51.0                    NaN                   NaN
3      29.4204          47.0                    NaN                   NaN
4      22.8234          54.0                    NaN                   NaN
...        ...           ...                    ...                   ...
53182  31.6564          41.0                 4.3624               0.68084
53183  20.5241          62.0                 4.1621               0.68544
53184  39.9202          65.0                    NaN                   NaN
53185  23.9069          64.0                 4.5286               1.01370
53186      NaN           NaN                    NaN                   NaN

       ldl_cholesterol.0.0  hdl_cholesterol.0.0  ...  c_reactive_protein.0.0  \
0                      NaN                  NaN  ...                   10.26
1                      NaN                  NaN  ...                    1.36
2                      NaN                  NaN  ...                    1.29
3                      NaN                  NaN  ...                    1.35
4                      NaN                  NaN  ...                    0.66
...                    ...                  ...  ...                     ...
53182               1.7162               1.1090  ...                    1.56
53183               1.4923               1.2189  ...                    1.52
53184                  NaN                  NaN  ...                    1.53
53185               1.7023               1.2259  ...                    2.75
53186                  NaN                  NaN  ...                     NaN

       HbA1c.0.0  insulin_IGF_1.0.0  lipoprotein.0.0  phosphate.0.0  SHBG.0.0  \
0           31.9             19.320            29.60          1.051     58.09
1           33.7             21.199             5.20          1.276     31.64
2            NaN             22.495            14.00          1.192     45.49
3           34.6             23.939           127.80          0.894     29.29
4           34.7             20.172             8.92          1.194     74.53
...          ...                ...              ...            ...       ...
53182       30.6             28.218           162.60          1.234     32.01
53183       34.4             28.499            46.80          1.185     51.56
53184       36.0             19.050            43.20          1.030     53.27
53185        NaN             27.754            35.10          1.419       NaN
53186        NaN                NaN              NaN            NaN       NaN

       total_bilirubin.0.0  testosterone.0.0  triglycerides.0.0  \
0                    12.87            13.897              2.385
1                    15.70            13.759              5.016
2                     6.87            22.116              1.311
3                    14.37            12.327              0.742
4                     5.73            17.579              1.254
...                    ...               ...                ...
53182                 9.02            10.964              1.050
53183                 4.09            10.314              1.394
53184                 6.29            19.647              0.941
53185                15.39            12.595              5.278
53186                  NaN               NaN                NaN

       alcohol_consumption.0.0
0                          NaN
1                          NaN
2                          0.0
3                          NaN
4                          1.0
...                        ...
53182                      NaN
53183                      NaN
53184                      NaN
53185                      NaN
53186                      NaN

[53187 rows x 21 columns]

In [15]:
# Initialize KNNImputer object with desired arguments
imputer = KNNImputer(n_neighbors=5)

# Impute missing values
imputed_data = imputer.fit_transform(subset_test_df)

In [16]:
imputed_df=pd.DataFrame(imputed_data, columns = subset_test_df.columns)

In [17]:
print(imputed_df)

       income.0.0  days_per_week_walk.0.0  diabetes..0.0  smoke_status.0.0  \
0             3.0                     0.0            0.0               1.0
1             4.0                     7.0            0.0               1.0
2             2.0                     7.0            0.0               0.0
3             4.0                     7.0            0.0               1.0
4             5.0                     7.0            0.0               2.0
...           ...                     ...            ...               ...
53182         2.0                     2.0            0.0               0.0
53183         1.0                     6.0            0.0               1.0
53184         1.0                     5.2            0.0               1.0
53185         2.8                     3.0            0.0               0.0
53186         2.0                     7.0            0.0               1.0

        bmi.0.0  Age_recr.0.0  total_cholesterol.0.0  vldl_cholesterol.0.0  \
0      29.52540          62.0                3.90882              0.708758
1      27.68520          65.0                4.15918              0.644548
2      21.96510          51.0                3.94656              0.521414
3      29.42040          47.0                4.51794              0.629690
4      22.82340          54.0                4.65322              0.686082
...         ...           ...                    ...                   ...
53182  31.65640          41.0                4.36240              0.680840
53183  20.52410          62.0                4.16210              0.685440
53184  39.92020          65.0                3.18478              0.487370
53185  23.90690          64.0                4.52860              1.013700
53186  26.29902          61.2                4.73952              0.757808

       ldl_cholesterol.0.0  hdl_cholesterol.0.0  ...  c_reactive_protein.0.0  \
0                 1.559960             0.964934  ...                  10.260
1                 1.455020             1.301716  ...                   1.360
2                 1.409496             1.324960  ...                   1.290
3                 1.769240             1.312828  ...                   1.350
4                 1.778340             1.352960  ...                   0.660
...                    ...                  ...  ...                     ...
53182             1.716200             1.109000  ...                   1.560
53183             1.492300             1.218900  ...                   1.520
53184             1.057466             1.129920  ...                   1.530
53185             1.702300             1.225900  ...                   2.750
53186             1.796420             1.296876  ...                   1.524

       HbA1c.0.0  insulin_IGF_1.0.0  lipoprotein.0.0  phosphate.0.0  SHBG.0.0  \
0          31.90            19.3200           29.600         1.0510    58.090
1          33.70            21.1990            5.200         1.2760    31.640
2          32.94            22.4950           14.000         1.1920    45.490
3          34.60            23.9390          127.800         0.8940    29.290
4          34.70            20.1720            8.920         1.1940    74.530
...          ...                ...              ...            ...       ...
53182      30.60            28.2180          162.600         1.2340    32.010
53183      34.40            28.4990           46.800         1.1850    51.560
53184      36.00            19.0500           43.200         1.0300    53.270
53185      34.72            27.7540           35.100         1.4190    36.314
53186      38.10            21.0204           34.848         1.1206    52.544

       total_bilirubin.0.0  testosterone.0.0  triglycerides.0.0  \
0                   12.870           13.8970              2.385
1                   15.700           13.7590              5.016
2                    6.870           22.1160              1.311
3                   14.370           12.3270              0.742
4                    5.730           17.5790              1.254
...                    ...               ...                ...
53182                9.020           10.9640              1.050
53183                4.090           10.3140              1.394
53184                6.290           19.6470              0.941
53185               15.390           12.5950              5.278
53186                9.564           10.7628              2.274

       alcohol_consumption.0.0
0                          0.2
1                          0.8
2                          0.0
3                          0.2
4                          1.0
...                        ...
53182                      0.4
53183                      0.6
53184                      0.6
53185                      1.0
53186                      0.6

[53187 rows x 21 columns]

In [18]:
# Check for missing values in imputed_df
print(imputed_df.isna().sum())

income.0.0                 0
days_per_week_walk.0.0     0
diabetes..0.0              0
smoke_status.0.0           0
bmi.0.0                    0
Age_recr.0.0               0
total_cholesterol.0.0      0
vldl_cholesterol.0.0       0
ldl_cholesterol.0.0        0
hdl_cholesterol.0.0        0
glucose.0.0                0
c_reactive_protein.0.0     0
HbA1c.0.0                  0
insulin_IGF_1.0.0          0
lipoprotein.0.0            0
phosphate.0.0              0
SHBG.0.0                   0
total_bilirubin.0.0        0
testosterone.0.0           0
triglycerides.0.0          0
alcohol_consumption.0.0    0
dtype: int64

In [19]:
imputed_df.to_csv('imputed_test_data.csv', index= True)

In [20]:
test_df.shape

(53187, 23)

In [21]:
imputed_df.shape

(53187, 21)

In [22]:
# Create a new column 'Unnamed: 0' with a sequence of integers starting from 1
imputed_df['Unnamed: 0'] = range(1, len(imputed_df) + 1)

In [23]:
for_merge_test_df = test_df[['Unnamed: 0', 'eid', 'diabetes..0.0']]

In [24]:
test_imputed_df = pd.merge(imputed_df, 
                            for_merge_test_df, on='Unnamed: 0', how='inner')

In [25]:
print(test_imputed_df)

       income.0.0  days_per_week_walk.0.0  diabetes..0.0_x  smoke_status.0.0  \
0             3.0                     0.0              0.0               1.0
1             4.0                     7.0              0.0               1.0
2             2.0                     7.0              0.0               0.0
3             4.0                     7.0              0.0               1.0
4             5.0                     7.0              0.0               2.0
...           ...                     ...              ...               ...
53182         2.0                     2.0              0.0               0.0
53183         1.0                     6.0              0.0               1.0
53184         1.0                     5.2              0.0               1.0
53185         2.8                     3.0              0.0               0.0
53186         2.0                     7.0              0.0               1.0

        bmi.0.0  Age_recr.0.0  total_cholesterol.0.0  vldl_cholesterol.0.0  \
0      29.52540          62.0                3.90882              0.708758
1      27.68520          65.0                4.15918              0.644548
2      21.96510          51.0                3.94656              0.521414
3      29.42040          47.0                4.51794              0.629690
4      22.82340          54.0                4.65322              0.686082
...         ...           ...                    ...                   ...
53182  31.65640          41.0                4.36240              0.680840
53183  20.52410          62.0                4.16210              0.685440
53184  39.92020          65.0                3.18478              0.487370
53185  23.90690          64.0                4.52860              1.013700
53186  26.29902          61.2                4.73952              0.757808

       ldl_cholesterol.0.0  hdl_cholesterol.0.0  ...  lipoprotein.0.0  \
0                 1.559960             0.964934  ...           29.600
1                 1.455020             1.301716  ...            5.200
2                 1.409496             1.324960  ...           14.000
3                 1.769240             1.312828  ...          127.800
4                 1.778340             1.352960  ...            8.920
...                    ...                  ...  ...              ...
53182             1.716200             1.109000  ...          162.600
53183             1.492300             1.218900  ...           46.800
53184             1.057466             1.129920  ...           43.200
53185             1.702300             1.225900  ...           35.100
53186             1.796420             1.296876  ...           34.848

       phosphate.0.0  SHBG.0.0  total_bilirubin.0.0  testosterone.0.0  \
0             1.0510    58.090               12.870           13.8970
1             1.2760    31.640               15.700           13.7590
2             1.1920    45.490                6.870           22.1160
3             0.8940    29.290               14.370           12.3270
4             1.1940    74.530                5.730           17.5790
...              ...       ...                  ...               ...
53182         1.2340    32.010                9.020           10.9640
53183         1.1850    51.560                4.090           10.3140
53184         1.0300    53.270                6.290           19.6470
53185         1.4190    36.314               15.390           12.5950
53186         1.1206    52.544                9.564           10.7628

       triglycerides.0.0  alcohol_consumption.0.0  Unnamed: 0      eid  \
0                  2.385                      0.2           1  1000021
1                  5.016                      0.8           2  1000057
2                  1.311                      0.0           3  1000082
3                  0.742                      0.2           4  1000126
4                  1.254                      1.0           5  1000325
...                  ...                      ...         ...      ...
53182              1.050                      0.4       53183  6024672
53183              1.394                      0.6       53184  6024732
53184              0.941                      0.6       53185  6024803
53185              5.278                      1.0       53186  6024842
53186              2.274                      0.6       53187  6024923

       diabetes..0.0_y
0                    0
1                    0
2                    0
3                    0
4                    0
...                ...
53182                0
53183                0
53184                0
53185                0
53186                0

[53187 rows x 24 columns]

In [26]:
test_imputed_df = test_imputed_df.round(decimals=0).astype(int)

# Display the updated DataFrame
print(test_imputed_df)

       income.0.0  days_per_week_walk.0.0  diabetes..0.0_x  smoke_status.0.0  \
0               3                       0                0                 1
1               4                       7                0                 1
2               2                       7                0                 0
3               4                       7                0                 1
4               5                       7                0                 2
...           ...                     ...              ...               ...
53182           2                       2                0                 0
53183           1                       6                0                 1
53184           1                       5                0                 1
53185           3                       3                0                 0
53186           2                       7                0                 1

       bmi.0.0  Age_recr.0.0  total_cholesterol.0.0  vldl_cholesterol.0.0  \
0           30            62                      4                     1
1           28            65                      4                     1
2           22            51                      4                     1
3           29            47                      5                     1
4           23            54                      5                     1
...        ...           ...                    ...                   ...
53182       32            41                      4                     1
53183       21            62                      4                     1
53184       40            65                      3                     0
53185       24            64                      5                     1
53186       26            61                      5                     1

       ldl_cholesterol.0.0  hdl_cholesterol.0.0  ...  lipoprotein.0.0  \
0                        2                    1  ...               30
1                        1                    1  ...                5
2                        1                    1  ...               14
3                        2                    1  ...              128
4                        2                    1  ...                9
...                    ...                  ...  ...              ...
53182                    2                    1  ...              163
53183                    1                    1  ...               47
53184                    1                    1  ...               43
53185                    2                    1  ...               35
53186                    2                    1  ...               35

       phosphate.0.0  SHBG.0.0  total_bilirubin.0.0  testosterone.0.0  \
0                  1        58                   13                14
1                  1        32                   16                14
2                  1        45                    7                22
3                  1        29                   14                12
4                  1        75                    6                18
...              ...       ...                  ...               ...
53182              1        32                    9                11
53183              1        52                    4                10
53184              1        53                    6                20
53185              1        36                   15                13
53186              1        53                   10                11

       triglycerides.0.0  alcohol_consumption.0.0  Unnamed: 0      eid  \
0                      2                        0           1  1000021
1                      5                        1           2  1000057
2                      1                        0           3  1000082
3                      1                        0           4  1000126
4                      1                        1           5  1000325
...                  ...                      ...         ...      ...
53182                  1                        0       53183  6024672
53183                  1                        1       53184  6024732
53184                  1                        1       53185  6024803
53185                  5                        1       53186  6024842
53186                  2                        1       53187  6024923

       diabetes..0.0_y
0                    0
1                    0
2                    0
3                    0
4                    0
...                ...
53182                0
53183                0
53184                0
53185                0
53186                0

[53187 rows x 24 columns]

In [27]:
value_counts = test_imputed_df['diabetes..0.0_y'].value_counts()

# Display the counts
print(value_counts)

0    52915
1      272
Name: diabetes..0.0_y, dtype: int64

In [28]:
test_imputed_df.to_csv('test_imputed_df.csv', index= True)

Matching

In [29]:
import pandas as pd
import numpy as np

In [30]:
# Load the data into a pandas DataFrame
data = pd.read_csv('test_imputed_df.csv')

In [31]:
print(data)

       Unnamed: 0.1  income.0.0  days_per_week_walk.0.0  diabetes..0.0_x  \
0                 0           3                       0                0
1                 1           4                       7                0
2                 2           2                       7                0
3                 3           4                       7                0
4                 4           5                       7                0
...             ...         ...                     ...              ...
53182         53182           2                       2                0
53183         53183           1                       6                0
53184         53184           1                       5                0
53185         53185           3                       3                0
53186         53186           2                       7                0

       smoke_status.0.0  bmi.0.0  Age_recr.0.0  total_cholesterol.0.0  \
0                     1       30            62                      4
1                     1       28            65                      4
2                     0       22            51                      4
3                     1       29            47                      5
4                     2       23            54                      5
...                 ...      ...           ...                    ...
53182                 0       32            41                      4
53183                 1       21            62                      4
53184                 1       40            65                      3
53185                 0       24            64                      5
53186                 1       26            61                      5

       vldl_cholesterol.0.0  ldl_cholesterol.0.0  ...  lipoprotein.0.0  \
0                         1                    2  ...               30
1                         1                    1  ...                5
2                         1                    1  ...               14
3                         1                    2  ...              128
4                         1                    2  ...                9
...                     ...                  ...  ...              ...
53182                     1                    2  ...              163
53183                     1                    1  ...               47
53184                     0                    1  ...               43
53185                     1                    2  ...               35
53186                     1                    2  ...               35

       phosphate.0.0  SHBG.0.0  total_bilirubin.0.0  testosterone.0.0  \
0                  1        58                   13                14
1                  1        32                   16                14
2                  1        45                    7                22
3                  1        29                   14                12
4                  1        75                    6                18
...              ...       ...                  ...               ...
53182              1        32                    9                11
53183              1        52                    4                10
53184              1        53                    6                20
53185              1        36                   15                13
53186              1        53                   10                11

       triglycerides.0.0  alcohol_consumption.0.0  Unnamed: 0      eid  \
0                      2                        0           1  1000021
1                      5                        1           2  1000057
2                      1                        0           3  1000082
3                      1                        0           4  1000126
4                      1                        1           5  1000325
...                  ...                      ...         ...      ...
53182                  1                        0       53183  6024672
53183                  1                        1       53184  6024732
53184                  1                        1       53185  6024803
53185                  5                        1       53186  6024842
53186                  2                        1       53187  6024923

       diabetes..0.0_y
0                    0
1                    0
2                    0
3                    0
4                    0
...                ...
53182                0
53183                0
53184                0
53185                0
53186                0

[53187 rows x 25 columns]

In [32]:
# Separate the cases and controls
cases = data[data['diabetes..0.0_y'] == 1]
controls = data[data['diabetes..0.0_y'] == 0]

In [33]:
# Define the matching factors
matching_factors = ['Age_recr.0.0', 'bmi.0.0']

In [34]:
# Initialize an empty DataFrame for the matched controls
matched_controls = pd.DataFrame()

In [35]:
# Loop through each case and find 1 controls that match on the matching factors
for idx, case in cases.iterrows():
    # Subset the controls that match on the matching factors
    matched = controls[(controls['Age_recr.0.0'] == case['Age_recr.0.0']) & (controls['bmi.0.0'] == case['bmi.0.0'])]
    # Sample 1 controls from the matched subset
    if len(matched) >= 3:
        matched = matched.sample(n=3)
    # Append the matched controls to the DataFrame
    matched_controls = pd.concat([matched_controls, matched])

In [36]:
# Combine the cases and matched controls into a single DataFrame
matched_data = pd.concat([cases, matched_controls])

In [37]:
value_counts = matched_data['diabetes..0.0_y'].value_counts()

# Display the counts
print(value_counts)

0    803
1    272
Name: diabetes..0.0_y, dtype: int64