In [1]:
#Import necessary libraries 
import pandas as pd
from sklearn.impute import KNNImputer
import numpy as np

In [2]:
# Load dataset into Pandas DataFrame
train_df = pd.read_csv('train_df.csv')

In [3]:
print(train_df)

        Unnamed: 0     ...1  income.0.0  days_per_week_walk.0.0  \
0                1  1000016         4.0                       3
1                2  1000049         3.0                       2
2                3  1000167         2.0                       3
3                4  1000178         4.0                       1
4                5  1000189         5.0                       7
...            ...      ...         ...                     ...
159557      159558  6024826         4.0                       5
159558      159559  6024834         3.0                       7
159559      159560  6024878         2.0                       6
159560      159561  6024890         4.0                       3
159561      159562  6024906         2.0                       1

        diabetes..0.0  smoke_status.0.0  bmi.0.0  Age_recr.0.0  \
0                   0                 1  24.9257            49
1                   0                 2  28.6011            41
2                   0                 0  32.9796            70
3                   0                 0      NaN            47
4                   0                 0  25.6310            43
...               ...               ...      ...           ...
159557              0                 0  32.9332            64
159558              0                 1  24.1517            66
159559              0                 1  24.3126            44
159560              0                 0  29.7311            58
159561              0                 1  22.5035            65

        total_cholesterol.0.0  vldl_cholesterol.0.0  ...  \
0                      4.8869               0.75526  ...
1                         NaN                   NaN  ...
2                         NaN                   NaN  ...
3                         NaN                   NaN  ...
4                         NaN                   NaN  ...
...                       ...                   ...  ...
159557                    NaN                   NaN  ...
159558                    NaN                   NaN  ...
159559                 2.8943               0.53359  ...
159560                    NaN                   NaN  ...
159561                    NaN                   NaN  ...

        c_reactive_protein.0.0  HbA1c.0.0  insulin_IGF_1.0.0  lipoprotein.0.0  \
0                         1.38       33.5             19.409              NaN
1                         5.93       33.9             19.058             8.54
2                         3.90       39.7             10.902            34.70
3                          NaN        NaN                NaN              NaN
4                         0.75       28.7             21.762            36.00
...                        ...        ...                ...              ...
159557                    1.18       32.0             19.626              NaN
159558                     NaN       34.2                NaN              NaN
159559                    1.33       32.2             23.777            34.43
159560                    0.92       29.4             13.642           139.40
159561                    6.45       37.4             17.499             4.50

        phosphate.0.0  SHBG.0.0  total_bilirubin.0.0  testosterone.0.0  \
0               1.146     41.90                 7.96            12.237
1               0.881     18.02                 8.43            10.454
2               1.031     66.42                10.76            13.311
3                 NaN       NaN                  NaN               NaN
4               0.987     37.48                29.12            12.320
...               ...       ...                  ...               ...
159557          0.773     37.85                11.02            16.861
159558            NaN       NaN                  NaN               NaN
159559          1.144     32.54                10.85            10.091
159560          1.220     20.61                 8.89             7.114
159561            NaN       NaN                25.23             8.780

        triglycerides.0.0  alcohol_consumption.0.0
0                   1.488                      NaN
1                   3.087                      1.0
2                   1.767                      NaN
3                     NaN                      NaN
4                   0.601                      NaN
...                   ...                      ...
159557              1.133                      NaN
159558                NaN                      NaN
159559              1.056                      NaN
159560              4.072                      NaN
159561              1.310                      NaN

[159562 rows x 23 columns]

In [4]:
train_df = train_df.rename(columns={'...1': 'eid'})

In [5]:
print(train_df)

        Unnamed: 0      eid  income.0.0  days_per_week_walk.0.0  \
0                1  1000016         4.0                       3
1                2  1000049         3.0                       2
2                3  1000167         2.0                       3
3                4  1000178         4.0                       1
4                5  1000189         5.0                       7
...            ...      ...         ...                     ...
159557      159558  6024826         4.0                       5
159558      159559  6024834         3.0                       7
159559      159560  6024878         2.0                       6
159560      159561  6024890         4.0                       3
159561      159562  6024906         2.0                       1

        diabetes..0.0  smoke_status.0.0  bmi.0.0  Age_recr.0.0  \
0                   0                 1  24.9257            49
1                   0                 2  28.6011            41
2                   0                 0  32.9796            70
3                   0                 0      NaN            47
4                   0                 0  25.6310            43
...               ...               ...      ...           ...
159557              0                 0  32.9332            64
159558              0                 1  24.1517            66
159559              0                 1  24.3126            44
159560              0                 0  29.7311            58
159561              0                 1  22.5035            65

        total_cholesterol.0.0  vldl_cholesterol.0.0  ...  \
0                      4.8869               0.75526  ...
1                         NaN                   NaN  ...
2                         NaN                   NaN  ...
3                         NaN                   NaN  ...
4                         NaN                   NaN  ...
...                       ...                   ...  ...
159557                    NaN                   NaN  ...
159558                    NaN                   NaN  ...
159559                 2.8943               0.53359  ...
159560                    NaN                   NaN  ...
159561                    NaN                   NaN  ...

        c_reactive_protein.0.0  HbA1c.0.0  insulin_IGF_1.0.0  lipoprotein.0.0  \
0                         1.38       33.5             19.409              NaN
1                         5.93       33.9             19.058             8.54
2                         3.90       39.7             10.902            34.70
3                          NaN        NaN                NaN              NaN
4                         0.75       28.7             21.762            36.00
...                        ...        ...                ...              ...
159557                    1.18       32.0             19.626              NaN
159558                     NaN       34.2                NaN              NaN
159559                    1.33       32.2             23.777            34.43
159560                    0.92       29.4             13.642           139.40
159561                    6.45       37.4             17.499             4.50

        phosphate.0.0  SHBG.0.0  total_bilirubin.0.0  testosterone.0.0  \
0               1.146     41.90                 7.96            12.237
1               0.881     18.02                 8.43            10.454
2               1.031     66.42                10.76            13.311
3                 NaN       NaN                  NaN               NaN
4               0.987     37.48                29.12            12.320
...               ...       ...                  ...               ...
159557          0.773     37.85                11.02            16.861
159558            NaN       NaN                  NaN               NaN
159559          1.144     32.54                10.85            10.091
159560          1.220     20.61                 8.89             7.114
159561            NaN       NaN                25.23             8.780

        triglycerides.0.0  alcohol_consumption.0.0
0                   1.488                      NaN
1                   3.087                      1.0
2                   1.767                      NaN
3                     NaN                      NaN
4                   0.601                      NaN
...                   ...                      ...
159557              1.133                      NaN
159558                NaN                      NaN
159559              1.056                      NaN
159560              4.072                      NaN
159561              1.310                      NaN

[159562 rows x 23 columns]

In [6]:
# Get the length of the eid column
len(train_df['eid'])

159562

In [7]:
# Get the number of unique values in the eid column
len(train_df['eid'].unique())

159562

In [8]:
# Check if any columns have values less than 0
if (train_df < 0).any().any():
    print('At least one column has values less than 0')
else:
    print('No columns have values less than 0')

At least one column has values less than 0

In [9]:
# Check which columns have values less than 0
cols_with_negative_values = train_df.columns[(train_df < 0).any()]

# Print the column names
print('Columns with negative values:', list(cols_with_negative_values))

Columns with negative values: ['income.0.0', 'days_per_week_walk.0.0', 'smoke_status.0.0']

we are making all the values that are less than 0 to NA in income, days, per_week and smoking status

In [10]:
train_df['income.0.0'][train_df['income.0.0'] < 0] = np.nan
train_df['days_per_week_walk.0.0'][train_df['days_per_week_walk.0.0'] < 0] = np.nan
train_df['smoke_status.0.0'][train_df['smoke_status.0.0'] < 0] = np.nan

/var/tmp/pbs.7385817.pbs/ipykernel_813177/675381167.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['income.0.0'][train_df['income.0.0'] < 0] = np.nan
/var/tmp/pbs.7385817.pbs/ipykernel_813177/675381167.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['days_per_week_walk.0.0'][train_df['days_per_week_walk.0.0'] < 0] = np.nan
/var/tmp/pbs.7385817.pbs/ipykernel_813177/675381167.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['smoke_status.0.0'][train_df['smoke_status.0.0'] < 0] = np.nan

In [11]:
# get all column names
col_names = train_df.columns

print(col_names)

Index(['Unnamed: 0', 'eid', 'income.0.0', 'days_per_week_walk.0.0',
       'diabetes..0.0', 'smoke_status.0.0', 'bmi.0.0', 'Age_recr.0.0',
       'total_cholesterol.0.0', 'vldl_cholesterol.0.0', 'ldl_cholesterol.0.0',
       'hdl_cholesterol.0.0', 'glucose.0.0', 'c_reactive_protein.0.0',
       'HbA1c.0.0', 'insulin_IGF_1.0.0', 'lipoprotein.0.0', 'phosphate.0.0',
       'SHBG.0.0', 'total_bilirubin.0.0', 'testosterone.0.0',
       'triglycerides.0.0', 'alcohol_consumption.0.0'],
      dtype='object')

In [12]:
subset_train_df = train_df[[ 'income.0.0', 'days_per_week_walk.0.0',
       'diabetes..0.0', 'smoke_status.0.0', 'bmi.0.0', 'Age_recr.0.0',
       'total_cholesterol.0.0', 'vldl_cholesterol.0.0', 'ldl_cholesterol.0.0',
       'hdl_cholesterol.0.0', 'glucose.0.0', 'c_reactive_protein.0.0',
       'HbA1c.0.0', 'insulin_IGF_1.0.0', 'lipoprotein.0.0', 'phosphate.0.0',
       'SHBG.0.0', 'total_bilirubin.0.0', 'testosterone.0.0',
       'triglycerides.0.0', 'alcohol_consumption.0.0']]

In [13]:
print(subset_train_df)

        income.0.0  days_per_week_walk.0.0  diabetes..0.0  smoke_status.0.0  \
0              4.0                     3.0              0               1.0
1              3.0                     2.0              0               2.0
2              2.0                     3.0              0               0.0
3              4.0                     1.0              0               0.0
4              5.0                     7.0              0               0.0
...            ...                     ...            ...               ...
159557         4.0                     5.0              0               0.0
159558         3.0                     7.0              0               1.0
159559         2.0                     6.0              0               1.0
159560         4.0                     3.0              0               0.0
159561         2.0                     1.0              0               1.0

        bmi.0.0  Age_recr.0.0  total_cholesterol.0.0  vldl_cholesterol.0.0  \
0       24.9257            49                 4.8869               0.75526
1       28.6011            41                    NaN                   NaN
2       32.9796            70                    NaN                   NaN
3           NaN            47                    NaN                   NaN
4       25.6310            43                    NaN                   NaN
...         ...           ...                    ...                   ...
159557  32.9332            64                    NaN                   NaN
159558  24.1517            66                    NaN                   NaN
159559  24.3126            44                 2.8943               0.53359
159560  29.7311            58                    NaN                   NaN
159561  22.5035            65                    NaN                   NaN

        ldl_cholesterol.0.0  hdl_cholesterol.0.0  ...  c_reactive_protein.0.0  \
0                    2.0107              1.19370  ...                    1.38
1                       NaN                  NaN  ...                    5.93
2                       NaN                  NaN  ...                    3.90
3                       NaN                  NaN  ...                     NaN
4                       NaN                  NaN  ...                    0.75
...                     ...                  ...  ...                     ...
159557                  NaN                  NaN  ...                    1.18
159558                  NaN                  NaN  ...                     NaN
159559               1.1421              0.72179  ...                    1.33
159560                  NaN                  NaN  ...                    0.92
159561                  NaN                  NaN  ...                    6.45

        HbA1c.0.0  insulin_IGF_1.0.0  lipoprotein.0.0  phosphate.0.0  \
0            33.5             19.409              NaN          1.146
1            33.9             19.058             8.54          0.881
2            39.7             10.902            34.70          1.031
3             NaN                NaN              NaN            NaN
4            28.7             21.762            36.00          0.987
...           ...                ...              ...            ...
159557       32.0             19.626              NaN          0.773
159558       34.2                NaN              NaN            NaN
159559       32.2             23.777            34.43          1.144
159560       29.4             13.642           139.40          1.220
159561       37.4             17.499             4.50            NaN

        SHBG.0.0  total_bilirubin.0.0  testosterone.0.0  triglycerides.0.0  \
0          41.90                 7.96            12.237              1.488
1          18.02                 8.43            10.454              3.087
2          66.42                10.76            13.311              1.767
3            NaN                  NaN               NaN                NaN
4          37.48                29.12            12.320              0.601
...          ...                  ...               ...                ...
159557     37.85                11.02            16.861              1.133
159558       NaN                  NaN               NaN                NaN
159559     32.54                10.85            10.091              1.056
159560     20.61                 8.89             7.114              4.072
159561       NaN                25.23             8.780              1.310

        alcohol_consumption.0.0
0                           NaN
1                           1.0
2                           NaN
3                           NaN
4                           NaN
...                         ...
159557                      NaN
159558                      NaN
159559                      NaN
159560                      NaN
159561                      NaN

[159562 rows x 21 columns]

In [14]:
# Initialize KNNImputer object with desired arguments
imputer = KNNImputer(n_neighbors=5)

# Impute missing values
imputed_data = imputer.fit_transform(subset_train_df)

In [15]:
imputed_df = pd.DataFrame(imputed_data, columns=subset_train_df.columns)

In [17]:
print(imputed_df)

        income.0.0  days_per_week_walk.0.0  diabetes..0.0  smoke_status.0.0  \
0              4.0                     3.0            0.0               1.0
1              3.0                     2.0            0.0               2.0
2              2.0                     3.0            0.0               0.0
3              4.0                     1.0            0.0               0.0
4              5.0                     7.0            0.0               0.0
...            ...                     ...            ...               ...
159557         4.0                     5.0            0.0               0.0
159558         3.0                     7.0            0.0               1.0
159559         2.0                     6.0            0.0               1.0
159560         4.0                     3.0            0.0               0.0
159561         2.0                     1.0            0.0               1.0

         bmi.0.0  Age_recr.0.0  total_cholesterol.0.0  vldl_cholesterol.0.0  \
0       24.92570          49.0                4.88690              0.755260
1       28.60110          41.0                4.04482              0.691756
2       32.97960          70.0                4.41184              0.823474
3       25.26928          47.0                4.17730              0.717680
4       25.63100          43.0                4.23130              0.599422
...          ...           ...                    ...                   ...
159557  32.93320          64.0                4.41792              0.867050
159558  24.15170          66.0                4.68860              0.692458
159559  24.31260          44.0                2.89430              0.533590
159560  29.73110          58.0                4.71640              0.823456
159561  22.50350          65.0                4.61408              0.674832

        ldl_cholesterol.0.0  hdl_cholesterol.0.0  ...  c_reactive_protein.0.0  \
0                  2.010700             1.193700  ...                   1.380
1                  1.499218             1.152816  ...                   5.930
2                  1.842086             0.960054  ...                   3.900
3                  1.630120             1.084106  ...                   0.630
4                  1.524780             1.375480  ...                   0.750
...                     ...                  ...  ...                     ...
159557             1.753000             1.025970  ...                   1.180
159558             1.743020             1.416420  ...                   0.704
159559             1.142100             0.721790  ...                   1.330
159560             1.866480             1.142378  ...                   0.920
159561             1.847760             1.190790  ...                   6.450

        HbA1c.0.0  insulin_IGF_1.0.0  lipoprotein.0.0  phosphate.0.0  \
0           33.50            19.4090           31.674         1.1460
1           33.90            19.0580            8.540         0.8810
2           39.70            10.9020           34.700         1.0310
3           33.42            24.0702           65.982         1.2852
4           28.70            21.7620           36.000         0.9870
...           ...                ...              ...            ...
159557      32.00            19.6260           44.574         0.7730
159558      34.20            20.5166           54.758         1.1634
159559      32.20            23.7770           34.430         1.1440
159560      29.40            13.6420          139.400         1.2200
159561      37.40            17.4990            4.500         1.0546

        SHBG.0.0  total_bilirubin.0.0  testosterone.0.0  triglycerides.0.0  \
0         41.900                7.960           12.2370             1.4880
1         18.020                8.430           10.4540             3.0870
2         66.420               10.760           13.3110             1.7670
3         46.086               11.056           12.9870             1.5074
4         37.480               29.120           12.3200             0.6010
...          ...                  ...               ...                ...
159557    37.850               11.020           16.8610             1.1330
159558    41.138               14.600           15.4584             1.6294
159559    32.540               10.850           10.0910             1.0560
159560    20.610                8.890            7.1140             4.0720
159561    49.876               25.230            8.7800             1.3100

        alcohol_consumption.0.0
0                           0.4
1                           1.0
2                           0.4
3                           0.4
4                           0.8
...                         ...
159557                      0.4
159558                      0.8
159559                      0.8
159560                      0.6
159561                      0.4

[159562 rows x 21 columns]

In [18]:
# Check for missing values in imputed_df
print(imputed_df.isna().sum())

income.0.0                 0
days_per_week_walk.0.0     0
diabetes..0.0              0
smoke_status.0.0           0
bmi.0.0                    0
Age_recr.0.0               0
total_cholesterol.0.0      0
vldl_cholesterol.0.0       0
ldl_cholesterol.0.0        0
hdl_cholesterol.0.0        0
glucose.0.0                0
c_reactive_protein.0.0     0
HbA1c.0.0                  0
insulin_IGF_1.0.0          0
lipoprotein.0.0            0
phosphate.0.0              0
SHBG.0.0                   0
total_bilirubin.0.0        0
testosterone.0.0           0
triglycerides.0.0          0
alcohol_consumption.0.0    0
dtype: int64

In [19]:
imputed_df.to_csv('imputed_data.csv', index= True)

In [20]:
train_df.shape

(159562, 23)

In [21]:
imputed_df.shape

(159562, 21)

In [22]:
print(imputed_df)

        income.0.0  days_per_week_walk.0.0  diabetes..0.0  smoke_status.0.0  \
0              4.0                     3.0            0.0               1.0
1              3.0                     2.0            0.0               2.0
2              2.0                     3.0            0.0               0.0
3              4.0                     1.0            0.0               0.0
4              5.0                     7.0            0.0               0.0
...            ...                     ...            ...               ...
159557         4.0                     5.0            0.0               0.0
159558         3.0                     7.0            0.0               1.0
159559         2.0                     6.0            0.0               1.0
159560         4.0                     3.0            0.0               0.0
159561         2.0                     1.0            0.0               1.0

         bmi.0.0  Age_recr.0.0  total_cholesterol.0.0  vldl_cholesterol.0.0  \
0       24.92570          49.0                4.88690              0.755260
1       28.60110          41.0                4.04482              0.691756
2       32.97960          70.0                4.41184              0.823474
3       25.26928          47.0                4.17730              0.717680
4       25.63100          43.0                4.23130              0.599422
...          ...           ...                    ...                   ...
159557  32.93320          64.0                4.41792              0.867050
159558  24.15170          66.0                4.68860              0.692458
159559  24.31260          44.0                2.89430              0.533590
159560  29.73110          58.0                4.71640              0.823456
159561  22.50350          65.0                4.61408              0.674832

        ldl_cholesterol.0.0  hdl_cholesterol.0.0  ...  c_reactive_protein.0.0  \
0                  2.010700             1.193700  ...                   1.380
1                  1.499218             1.152816  ...                   5.930
2                  1.842086             0.960054  ...                   3.900
3                  1.630120             1.084106  ...                   0.630
4                  1.524780             1.375480  ...                   0.750
...                     ...                  ...  ...                     ...
159557             1.753000             1.025970  ...                   1.180
159558             1.743020             1.416420  ...                   0.704
159559             1.142100             0.721790  ...                   1.330
159560             1.866480             1.142378  ...                   0.920
159561             1.847760             1.190790  ...                   6.450

        HbA1c.0.0  insulin_IGF_1.0.0  lipoprotein.0.0  phosphate.0.0  \
0           33.50            19.4090           31.674         1.1460
1           33.90            19.0580            8.540         0.8810
2           39.70            10.9020           34.700         1.0310
3           33.42            24.0702           65.982         1.2852
4           28.70            21.7620           36.000         0.9870
...           ...                ...              ...            ...
159557      32.00            19.6260           44.574         0.7730
159558      34.20            20.5166           54.758         1.1634
159559      32.20            23.7770           34.430         1.1440
159560      29.40            13.6420          139.400         1.2200
159561      37.40            17.4990            4.500         1.0546

        SHBG.0.0  total_bilirubin.0.0  testosterone.0.0  triglycerides.0.0  \
0         41.900                7.960           12.2370             1.4880
1         18.020                8.430           10.4540             3.0870
2         66.420               10.760           13.3110             1.7670
3         46.086               11.056           12.9870             1.5074
4         37.480               29.120           12.3200             0.6010
...          ...                  ...               ...                ...
159557    37.850               11.020           16.8610             1.1330
159558    41.138               14.600           15.4584             1.6294
159559    32.540               10.850           10.0910             1.0560
159560    20.610                8.890            7.1140             4.0720
159561    49.876               25.230            8.7800             1.3100

        alcohol_consumption.0.0
0                           0.4
1                           1.0
2                           0.4
3                           0.4
4                           0.8
...                         ...
159557                      0.4
159558                      0.8
159559                      0.8
159560                      0.6
159561                      0.4

[159562 rows x 21 columns]

In [23]:
print(train_df)

        Unnamed: 0      eid  income.0.0  days_per_week_walk.0.0  \
0                1  1000016         4.0                     3.0
1                2  1000049         3.0                     2.0
2                3  1000167         2.0                     3.0
3                4  1000178         4.0                     1.0
4                5  1000189         5.0                     7.0
...            ...      ...         ...                     ...
159557      159558  6024826         4.0                     5.0
159558      159559  6024834         3.0                     7.0
159559      159560  6024878         2.0                     6.0
159560      159561  6024890         4.0                     3.0
159561      159562  6024906         2.0                     1.0

        diabetes..0.0  smoke_status.0.0  bmi.0.0  Age_recr.0.0  \
0                   0               1.0  24.9257            49
1                   0               2.0  28.6011            41
2                   0               0.0  32.9796            70
3                   0               0.0      NaN            47
4                   0               0.0  25.6310            43
...               ...               ...      ...           ...
159557              0               0.0  32.9332            64
159558              0               1.0  24.1517            66
159559              0               1.0  24.3126            44
159560              0               0.0  29.7311            58
159561              0               1.0  22.5035            65

        total_cholesterol.0.0  vldl_cholesterol.0.0  ...  \
0                      4.8869               0.75526  ...
1                         NaN                   NaN  ...
2                         NaN                   NaN  ...
3                         NaN                   NaN  ...
4                         NaN                   NaN  ...
...                       ...                   ...  ...
159557                    NaN                   NaN  ...
159558                    NaN                   NaN  ...
159559                 2.8943               0.53359  ...
159560                    NaN                   NaN  ...
159561                    NaN                   NaN  ...

        c_reactive_protein.0.0  HbA1c.0.0  insulin_IGF_1.0.0  lipoprotein.0.0  \
0                         1.38       33.5             19.409              NaN
1                         5.93       33.9             19.058             8.54
2                         3.90       39.7             10.902            34.70
3                          NaN        NaN                NaN              NaN
4                         0.75       28.7             21.762            36.00
...                        ...        ...                ...              ...
159557                    1.18       32.0             19.626              NaN
159558                     NaN       34.2                NaN              NaN
159559                    1.33       32.2             23.777            34.43
159560                    0.92       29.4             13.642           139.40
159561                    6.45       37.4             17.499             4.50

        phosphate.0.0  SHBG.0.0  total_bilirubin.0.0  testosterone.0.0  \
0               1.146     41.90                 7.96            12.237
1               0.881     18.02                 8.43            10.454
2               1.031     66.42                10.76            13.311
3                 NaN       NaN                  NaN               NaN
4               0.987     37.48                29.12            12.320
...               ...       ...                  ...               ...
159557          0.773     37.85                11.02            16.861
159558            NaN       NaN                  NaN               NaN
159559          1.144     32.54                10.85            10.091
159560          1.220     20.61                 8.89             7.114
159561            NaN       NaN                25.23             8.780

        triglycerides.0.0  alcohol_consumption.0.0
0                   1.488                      NaN
1                   3.087                      1.0
2                   1.767                      NaN
3                     NaN                      NaN
4                   0.601                      NaN
...                   ...                      ...
159557              1.133                      NaN
159558                NaN                      NaN
159559              1.056                      NaN
159560              4.072                      NaN
159561              1.310                      NaN

[159562 rows x 23 columns]

In [24]:
# Create a new column 'Unnamed: 0' with a sequence of integers starting from 1
imputed_df['Unnamed: 0'] = range(1, len(imputed_df) + 1)

In [25]:
for_merge_train_df = train_df[['Unnamed: 0', 'eid', 'diabetes..0.0']]

In [26]:
train_imputed_df = pd.merge(imputed_df, for_merge_train_df, on='Unnamed: 0', how='inner')

In [27]:
print(train_imputed_df)

        income.0.0  days_per_week_walk.0.0  diabetes..0.0_x  smoke_status.0.0  \
0              4.0                     3.0              0.0               1.0
1              3.0                     2.0              0.0               2.0
2              2.0                     3.0              0.0               0.0
3              4.0                     1.0              0.0               0.0
4              5.0                     7.0              0.0               0.0
...            ...                     ...              ...               ...
159557         4.0                     5.0              0.0               0.0
159558         3.0                     7.0              0.0               1.0
159559         2.0                     6.0              0.0               1.0
159560         4.0                     3.0              0.0               0.0
159561         2.0                     1.0              0.0               1.0

         bmi.0.0  Age_recr.0.0  total_cholesterol.0.0  vldl_cholesterol.0.0  \
0       24.92570          49.0                4.88690              0.755260
1       28.60110          41.0                4.04482              0.691756
2       32.97960          70.0                4.41184              0.823474
3       25.26928          47.0                4.17730              0.717680
4       25.63100          43.0                4.23130              0.599422
...          ...           ...                    ...                   ...
159557  32.93320          64.0                4.41792              0.867050
159558  24.15170          66.0                4.68860              0.692458
159559  24.31260          44.0                2.89430              0.533590
159560  29.73110          58.0                4.71640              0.823456
159561  22.50350          65.0                4.61408              0.674832

        ldl_cholesterol.0.0  hdl_cholesterol.0.0  ...  lipoprotein.0.0  \
0                  2.010700             1.193700  ...           31.674
1                  1.499218             1.152816  ...            8.540
2                  1.842086             0.960054  ...           34.700
3                  1.630120             1.084106  ...           65.982
4                  1.524780             1.375480  ...           36.000
...                     ...                  ...  ...              ...
159557             1.753000             1.025970  ...           44.574
159558             1.743020             1.416420  ...           54.758
159559             1.142100             0.721790  ...           34.430
159560             1.866480             1.142378  ...          139.400
159561             1.847760             1.190790  ...            4.500

        phosphate.0.0  SHBG.0.0  total_bilirubin.0.0  testosterone.0.0  \
0              1.1460    41.900                7.960           12.2370
1              0.8810    18.020                8.430           10.4540
2              1.0310    66.420               10.760           13.3110
3              1.2852    46.086               11.056           12.9870
4              0.9870    37.480               29.120           12.3200
...               ...       ...                  ...               ...
159557         0.7730    37.850               11.020           16.8610
159558         1.1634    41.138               14.600           15.4584
159559         1.1440    32.540               10.850           10.0910
159560         1.2200    20.610                8.890            7.1140
159561         1.0546    49.876               25.230            8.7800

        triglycerides.0.0  alcohol_consumption.0.0  Unnamed: 0      eid  \
0                  1.4880                      0.4           1  1000016
1                  3.0870                      1.0           2  1000049
2                  1.7670                      0.4           3  1000167
3                  1.5074                      0.4           4  1000178
4                  0.6010                      0.8           5  1000189
...                   ...                      ...         ...      ...
159557             1.1330                      0.4      159558  6024826
159558             1.6294                      0.8      159559  6024834
159559             1.0560                      0.8      159560  6024878
159560             4.0720                      0.6      159561  6024890
159561             1.3100                      0.4      159562  6024906

        diabetes..0.0_y
0                     0
1                     0
2                     0
3                     0
4                     0
...                 ...
159557                0
159558                0
159559                0
159560                0
159561                0

[159562 rows x 24 columns]

In [28]:
train_imputed_df = train_imputed_df.round(decimals=0).astype(int)

# Display the updated DataFrame
print(train_imputed_df)

        income.0.0  days_per_week_walk.0.0  diabetes..0.0_x  smoke_status.0.0  \
0                4                       3                0                 1
1                3                       2                0                 2
2                2                       3                0                 0
3                4                       1                0                 0
4                5                       7                0                 0
...            ...                     ...              ...               ...
159557           4                       5                0                 0
159558           3                       7                0                 1
159559           2                       6                0                 1
159560           4                       3                0                 0
159561           2                       1                0                 1

        bmi.0.0  Age_recr.0.0  total_cholesterol.0.0  vldl_cholesterol.0.0  \
0            25            49                      5                     1
1            29            41                      4                     1
2            33            70                      4                     1
3            25            47                      4                     1
4            26            43                      4                     1
...         ...           ...                    ...                   ...
159557       33            64                      4                     1
159558       24            66                      5                     1
159559       24            44                      3                     1
159560       30            58                      5                     1
159561       23            65                      5                     1

        ldl_cholesterol.0.0  hdl_cholesterol.0.0  ...  lipoprotein.0.0  \
0                         2                    1  ...               32
1                         1                    1  ...                9
2                         2                    1  ...               35
3                         2                    1  ...               66
4                         2                    1  ...               36
...                     ...                  ...  ...              ...
159557                    2                    1  ...               45
159558                    2                    1  ...               55
159559                    1                    1  ...               34
159560                    2                    1  ...              139
159561                    2                    1  ...                4

        phosphate.0.0  SHBG.0.0  total_bilirubin.0.0  testosterone.0.0  \
0                   1        42                    8                12
1                   1        18                    8                10
2                   1        66                   11                13
3                   1        46                   11                13
4                   1        37                   29                12
...               ...       ...                  ...               ...
159557              1        38                   11                17
159558              1        41                   15                15
159559              1        33                   11                10
159560              1        21                    9                 7
159561              1        50                   25                 9

        triglycerides.0.0  alcohol_consumption.0.0  Unnamed: 0      eid  \
0                       1                        0           1  1000016
1                       3                        1           2  1000049
2                       2                        0           3  1000167
3                       2                        0           4  1000178
4                       1                        1           5  1000189
...                   ...                      ...         ...      ...
159557                  1                        0      159558  6024826
159558                  2                        1      159559  6024834
159559                  1                        1      159560  6024878
159560                  4                        1      159561  6024890
159561                  1                        0      159562  6024906

        diabetes..0.0_y
0                     0
1                     0
2                     0
3                     0
4                     0
...                 ...
159557                0
159558                0
159559                0
159560                0
159561                0

[159562 rows x 24 columns]

In [29]:
value_counts = train_imputed_df['diabetes..0.0_y'].value_counts()

# Display the counts
print(value_counts)

0    158755
1       807
Name: diabetes..0.0_y, dtype: int64

In [30]:
train_imputed_df.to_csv('train_imputed_df.csv', index= True)

matching

In [31]:
import pandas as pd
import numpy as np

In [32]:
# Load the data into a pandas DataFrame
data = pd.read_csv('train_imputed_df.csv')

In [33]:
print(data)

        Unnamed: 0.1  income.0.0  days_per_week_walk.0.0  diabetes..0.0_x  \
0                  0           4                       3                0
1                  1           3                       2                0
2                  2           2                       3                0
3                  3           4                       1                0
4                  4           5                       7                0
...              ...         ...                     ...              ...
159557        159557           4                       5                0
159558        159558           3                       7                0
159559        159559           2                       6                0
159560        159560           4                       3                0
159561        159561           2                       1                0

        smoke_status.0.0  bmi.0.0  Age_recr.0.0  total_cholesterol.0.0  \
0                      1       25            49                      5
1                      2       29            41                      4
2                      0       33            70                      4
3                      0       25            47                      4
4                      0       26            43                      4
...                  ...      ...           ...                    ...
159557                 0       33            64                      4
159558                 1       24            66                      5
159559                 1       24            44                      3
159560                 0       30            58                      5
159561                 1       23            65                      5

        vldl_cholesterol.0.0  ldl_cholesterol.0.0  ...  lipoprotein.0.0  \
0                          1                    2  ...               32
1                          1                    1  ...                9
2                          1                    2  ...               35
3                          1                    2  ...               66
4                          1                    2  ...               36
...                      ...                  ...  ...              ...
159557                     1                    2  ...               45
159558                     1                    2  ...               55
159559                     1                    1  ...               34
159560                     1                    2  ...              139
159561                     1                    2  ...                4

        phosphate.0.0  SHBG.0.0  total_bilirubin.0.0  testosterone.0.0  \
0                   1        42                    8                12
1                   1        18                    8                10
2                   1        66                   11                13
3                   1        46                   11                13
4                   1        37                   29                12
...               ...       ...                  ...               ...
159557              1        38                   11                17
159558              1        41                   15                15
159559              1        33                   11                10
159560              1        21                    9                 7
159561              1        50                   25                 9

        triglycerides.0.0  alcohol_consumption.0.0  Unnamed: 0      eid  \
0                       1                        0           1  1000016
1                       3                        1           2  1000049
2                       2                        0           3  1000167
3                       2                        0           4  1000178
4                       1                        1           5  1000189
...                   ...                      ...         ...      ...
159557                  1                        0      159558  6024826
159558                  2                        1      159559  6024834
159559                  1                        1      159560  6024878
159560                  4                        1      159561  6024890
159561                  1                        0      159562  6024906

        diabetes..0.0_y
0                     0
1                     0
2                     0
3                     0
4                     0
...                 ...
159557                0
159558                0
159559                0
159560                0
159561                0

[159562 rows x 25 columns]

In [34]:
# Separate the cases and controls
cases = data[data['diabetes..0.0_y'] == 1]
controls = data[data['diabetes..0.0_y'] == 0]

In [35]:
# Define the matching factors
matching_factors = ['Age_recr.0.0', 'bmi.0.0']

In [36]:
# Initialize an empty DataFrame for the matched controls
matched_controls = pd.DataFrame()

In [37]:
# Loop through each case and find 1 controls that match on the matching factors
for idx, case in cases.iterrows():
    # Subset the controls that match on the matching factors
    matched = controls[(controls['Age_recr.0.0'] == case['Age_recr.0.0']) & (controls['bmi.0.0'] == case['bmi.0.0'])]
    # Sample 1 controls from the matched subset
    if len(matched) >= 3:
        matched = matched.sample(n=3)
    # Append the matched controls to the DataFrame
    matched_controls = pd.concat([matched_controls, matched])

In [38]:
# Combine the cases and matched controls into a single DataFrame
matched_data = pd.concat([cases, matched_controls])

In [39]:
value_counts = matched_data['diabetes..0.0_y'].value_counts()

# Display the counts
print(value_counts)

0    2393
1     807
Name: diabetes..0.0_y, dtype: int64

In [40]:
matched_data.to_csv('matched_train_imputed_df.csv', index= True)